:root {
  --color-primary: #144d43;
  --color-secondary: #f58800;
}

/*Primary Outline Button Customize*/

.btn-outline-primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-outline-primary:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(20, 77, 67, 0.5);
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(20, 77, 67, 0.5);
}


/*Primary Button Customize*/
.btn-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-primary:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  opacity: 0.7;
}

.btn-primary:focus, .btn-primary.focus {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  opacity: 0.5;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  opacity: 0.6;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(20, 77, 67, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: var(--color-primary);
  opacity: 0.5;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  opacity: 0.6;
}


/*Secondary Button Customize*/
.btn-secondary {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn-secondary:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  opacity: 0.6;
}

.btn-secondary:focus, .btn-secondary.focus {
  background-color: #f7a844;
  border-color: #f58800;
}

.btn-secondary.disabled, .btn-secondary:disabled {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  opacity: 0.5;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  opacity: 0.6;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(247, 168, 68, 0.5);
}



/**/

.btn-outline-secondary {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn-outline-secondary:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(247, 168, 68, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: var(--color-secondary);
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(247, 168, 68, 0.5);
}

.bg-primary {
  background-color: var(--color-primary) !important;
}


.text-primary {
  color: var(--color-primary) !important;
}
